{% extends "plantilla2.html" %}
{% block titulo %}
  {{'login'}}
{% endblock %}
{% block titulo2 %}
 
{% endblock %}
{%block contenido%}
 {% load crispy_forms_tags %}
 <div class="container">
   <div class="row">
     <div class="col-12 col-md-6 offset-md-3">
          <div class="card">
            <div class="car-body">

             <h2 >Registro de ususario </h2>
             <hr>
             <form action="" method="post">
               {% csrf_token %}
               {{form | crispy }}

               <input type="submit" value="Registrar" class="btn btn-success float-left">
             </form>

            </div>
          </div>
     </div>
   </div>
 </div>

{% endblock %}