{% extends "plantilla.html" %}
{%load static%}
{% block titulo %}
  {{'login'}}
{% endblock %}
{% block titulo2 %}
 
{% endblock %}
{%block contenido%}

<section class="py-5">
  <div class="container ">
      <div class="row ">
          <div class="col-md-6 align-self-start">
              <img class=" img-fluid" src="{%static 'images/bamboo.jpg'%}" alt="">
          </div>
          <div class="col-md-6 align-self-start">
             <h1 class="display-5 fw-bolder" >Lucky bamboo</h1> 
             <p class="lead">
              Los bambúes pueden ser plantas pequeñas de menos de 1 m de largo y con los tallos (culmos) de medio centímetro de diámetro, aunque también los hay gigantes: de unos 25 m de alto y 30 cm de diámetro. Los hay herbáceos y leñosos, cespitosos y más expansivos, y los hay trepadores.
             </p>
             <div>
              <span>$6.990</span>
              </div>
             <div class="d-flex">
                 <input class="form-control text-center me-3" type="num" value="1" style="max-width:3rem">
                 <button class="btn btn-outline-dark flex-shirnk-0" type="button">
                     <i class="bi-cart-fill me-1"></i>
                     añadir al carro
                 </button>
             </div>
          </div>
         
      </div>
  </div>
</section>
{% endblock %}