{% extends "plantilla.html" %}
{%load static%}
{% block titulo %}
  {{'login'}}
{% endblock %}
{% block titulo2 %}
 
{% endblock %}
{%block contenido%}

 <section class="py-5">
  <div class="container ">
      <div class="row ">
          <div class="col-md-6 align-self-start">
              <img class=" img-fluid" src="{%static 'images/maceta-iris.jpg'%} " alt="">
          </div>
          <div class="col-md-6 align-self-start">
             <h1 class="display-5 fw-bolder" >Maceta Iris</h1> 
             <p class="lead">
                 Especificaciones:
                 Diametro:    10cm
                 Tipo:        Macetas
                 Profundidad: 26.5
                 Temporada:   Toda Temporada
                 Material:    Acero
                 Hecho en:    China
             </p>
             <div>
              <span>$13.000</span>
              </div>
             <div class="d-flex">
                 <input class="form-control text-center me-3" type="num" value="1" style="max-width:3rem">
                 <button class="btn btn-outline-dark flex-shirnk-0" type="button">
                     <i class="bi-cart-fill me-1"></i>
                     añadir al carro
                 </button>
             </div>
          </div>
         
      </div>
  </div>
</section>

{% endblock %}